<% @title = '新規アカウント登録' %>
<% @description = '短歌投稿サイトUtakataのアカウント登録を行えます。' %>

<div class="col-lg-5 mx-auto">
  <h5 class="mt-4 form-group">Twitterアカウントで登録する</h5>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <div class="form-group actions">
      <%= link_to omniauth_authorize_path(resource_name, provider), class: 'btn btn-primary', method: :post do %>
        <i class="fab fa-twitter text-white"></i> 登録する
      <% end %>
    </div>
  <% end -%>
  <%= render "devise/shared/links" %>
</div>
