<%= turbo_frame_tag "favorites_count_#{dom_id(post)}" do %>
  <% if size == 'sm' %>
    <span class="sm like"><%= post.followings.length %></span>
  <% else %>
    <%= link_to post.followings.length, followers_post_path(id: post.id), data: { turbo: false }, class: 'lg like' %>
  <% end %>
<% end %>
