<div id="<%= "favorites_count_#{dom_id(post)}" %>" class="<%= size %> favorites-count">
  <% if size == 'sm' %>
    <%= post.followings.length %>
  <% else %>
    <%= link_to post.followings.length, posts_post_followers_path(post), class: 'favorites-count-link' %>
  <% end %>
</div>
