<% @title = 'いいねした歌' %>

<div class="vertical serif tanka-index text-nowrap mt-4">
  <div class="mx-4">
    <%= paginate @posts %>
  </div>
  <%= render 'posts/posts', posts: @posts, show_avatar: true %>
  <div class="mx-4">
    <%= paginate @posts %>
  </div>
</div>
