<% @title = '利用規約' %>
<% @description = '短歌投稿サイトUtakataの利用規約。' %>

<div class="col-lg-5 mx-auto">
  <h4 class="mt-4">利用規約</h4>
  <h5 class="mt-4">はじめに</h5>
  <p>Utakataは、管理人が個人で開発・運営しているWebサービスです。管理人もまた短歌愛好家であり、Utakataは、自由な創作を重んじる精神で運営したいと思っています。本規約には、最低限のマナーと著作権に関する内容を記載します。本規約に同意した上で、サービスをご利用ください。本規約は、予告なく改定されることがあります。</p>
  <h5 class="mt-4">著作権</h5>
  <p>投稿短歌の著作権は投稿者に帰属します。原則として、投稿短歌を管理者が投稿者に無断で利用することはありませんが、<a href="https://twitter.com/utakatanka" target="_blank">Twitterの公式アカウント</a>で、人気の短歌を作者名と作品へのリンクを明記の上、紹介させていただくことがあります。公式アカウントでの自作のツイートを希望されない方は、<a href="#contacts">下記連絡先</a>までご連絡ください。</p>
  <h5 class="mt-4">違反行為</h5>
  <p>下記の行為を利用規約違反とします。違反行為が確認された場合は、管理者の判断で、違反行為に該当する短歌や、違反者のアカウントを予告なく削除することがあります。</p>
  <ul class="ml">
    <li>「短歌投稿サイト」の趣旨にそぐわない作品を投稿する行為（下記「<a href="#tanka-definition">「短歌」の範囲</a>」を参照）</li>
    <li>法令に違反する行為</li>
    <li>他の利用者に迷惑をかける行為</li>
  </ul>
  <h5 id="tanka-definition" class="mt-4">「短歌」の範囲</h5>
  <p>Utakataは短歌投稿サイトなので、「短歌」を投稿していただきたいというのが前提としてあるのですが、何を短歌とみなすかについては、自由律短歌等も短歌とみなす、広義の解釈を採用します。良識の範囲で自由な形式の作品を投稿いただければと思います。</p>
  <h5 class="mt-4">免責事項</h5>
  <p>投稿短歌のデータの保存には万全を期したいと思いますが、個人で運営しているサービスという都合上、何らかのミスによってデータが喪失する可能性があります。作品のデータのバックアップを用意した上でご利用ください。</p>
  <p>また、Utakataの利用によって発生した諸々の不利益について、原則として管理者は責任を負いかねます。</p>
  <h5 id="contacts" class="mt-4">連絡先</h5>
  <ul class="ml">
    <li>Email：utakatanka@gmail.com</li>
    <li>Twitter：<a href="https://twitter.com/utakatanka" target="_blank">@utakatanka</a></li>
    <li>管理人のTwitter：<a href="https://twitter.com/fuyu77" target="_blank">@fuyu77</a></li>
  </ul>
</div>
