<div class="vertical-flex p">
  <div>
    <%= link_to avatar_image_tag(user, :medium, class: 'rounded align-baseline'), user_path(user) %>
  </div>
  <div>
    <%= link_to user.name, user_path(user), class: 'tanka-link lg' %>
  </div>
</div>
