<% @title = '歌人一覧' %>

<div class = "vertical serif tanka-index text-nowrap mt-4">
  <h6>歌人一覧</h6>
  <%= paginate @users %>
  <%= render 'users/users', users: @users %>
  <%= paginate @users %>
</div>
