<% @title = '歌人一覧' %>

<div class = "vertical serif tanka-index text-nowrap mt-4">
  <div class="mx-4">歌人一覧</div>
  <div class="mx-4">
    <%= paginate @users %>
  </div>
  <%= render 'users/users', users: @users %>
  <div class="mx-4">
    <%= paginate @users %>
  </div>
</div>
