<% @title = 'タイムライン' %>

<div class="vertical serif tanka-index text-nowrap mt-4">
  <%= paginate @posts %>
  <%= render 'posts/posts', posts: @posts, show_avatar: true %>
  <%= paginate @posts %>
</div>
