<% @title = '寄付のお願い' %>
<% @description = 'Utakataへの寄付をお願いします。' %>

<div class="col-11 col-lg-5 mx-auto mb-5">
  <h4 class="mt-4">寄付のお願い</h4>
  <h5 class="mt-4">はじめに</h5>
  <p>Utakataは全機能を無料で、サイト内広告の掲載もなくご利用いただけます。その一方で、サーバー代やドメイン代等で毎月平均して約3000円の費用が発生している事情があります。</p>
  <p>Utakataのサービスの継続運用と管理人の開発モチベーションの維持のため、寄付のご協力をお願いしたいです。</p>
  <h5 class="mt-4">寄付の方法</h5>
  <p><a href="https://buy.stripe.com/cN25meehQb2jaQgaEE" target="_blank">こちらの寄付画面</a>から500円単位で数量を指定して寄付いただけます。寄付はいつでも何度でも可能です。</p>
  <h5 class="mt-4">決済情報の秘匿性について</h5>
  <p>寄付画面は大手決済代行サービス<a href="https://stripe.com/jp" target="_blank">Stripe</a>の<a href="https://stripe.com/jp/payments/payment-links" target="_blank">Payment Links</a>という機能で提供されています。クレジットカード番号等の決済情報はUtakata管理人には一切共有されないので、安心してご利用ください。</p>
  <h4 class="mt-4">Utakataの取り組み</h4>
  <p class="mt-3">皆様のご支援を受けて、以下の取り組みを今後も継続して行います。</p>
  <h5 class="mt-4">サイトの改善・機能追加</h5>
  <p>Utakataではこれまで500回以上のプログラムの更新をリリースして来ました。管理人の本業がWebエンジニアであることを活かして、最新の技術動向にキャッチアップし、快適なサイト利用のためのパフォーマンス改善と機能追加を継続的に実施します。</p>
  <h5 id="tanka-definition" class="mt-4">迅速なサポート</h5>
  <p>メールやTwitterのDMで不具合等の連絡があった場合は、原則として24時間以内に返信し、必要があればプログラムの修正を含む対応を実施し、サイトの快適な利用をサポートしています。</p>
  <h5 class="mt-4">関連リンク</h5>
  <ul class="ml">
    <li><a href="https://buy.stripe.com/cN25meehQb2jaQgaEE" target="_blank">寄付画面</a></li>
    <li><%= link_to 'サイトのご案内', about_index_path %></li>
    <li><%= link_to 'プライバシーポリシー', privacy_index_path %></li>
  </ul>
</div>
