@import "~bootstrap/scss/bootstrap"; 
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";

$utakata-blue: #0095d9;
$utakata-blue-hover: #00a7f3;
$utakata-green: #3eb370;
$utakata-green-hover: #47cc7e;
$utakata-red: #e60033;

a {
  color: $utakata-blue;
}

a:hover {
  color: $utakata-blue-hover;
}

.fa-twitter {
  color: $utakata-blue;
}

.fa-user {
  color: $utakata-blue;
  vertical-align: middle;
}

.fa-heart {
  color: $utakata-red;
  vertical-align: middle;
}

.fa-gripfire {
  color: $utakata-red;
  vertical-align: middle;
}

.page-link {
  color: $utakata-blue;
  border-radius: 0.25rem;
}

.page-item.active .page-link {
  background-color: $utakata-blue;
  border-color: $utakata-blue;
}

.border-primary {
  border: 1px solid $utakata-blue;
}

.navbar {
  background-color: $utakata-blue;
}

.btn-sm {
  margin-bottom: 0;
}

.btn-primary {
  color: white;
  background-color: $utakata-blue;
  border-color: $utakata-blue;
}

.btn-primary:hover {
  color: white;
  background-color: $utakata-blue-hover;
  border-color: $utakata-blue;
}

.btn-success {
  color: white;
  background-color: $utakata-green;
  border-color: $utakata-green;
}

.btn-success:hover {
  color: white;
  background-color: $utakata-green-hover;
  border-color: $utakata-green;
}

.btn-primary-reversed {
  color: $utakata-blue;
  background-color: white;
  border-color: white;
}

.btn-primary-reversed:hover {
  color: white;
  background-color: $utakata-blue-hover;
  border-color: $utakata-blue;
}

.tanka-link {
  color: black;
  vertical-align: middle;
}

.tanka-link:hover {
  color: gray;
}

.vertical {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}

.lg {
  font-size: 1.2em;
}

.sm {
  font-size: 0.9em;
}

.serif {
  font-family: 'Hiragino Mincho ProN', 'Yu Mincho', serif;
}

.tanka-index {
  width: 100%;
  white-space: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}

.user-show {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}

.h-88 {
  height: 88vh;
}

.mb-6 {
  margin-bottom: 10em;
}

.nowrap {
  white-space: nowrap;
}

h4 {
  font-weight: 600;
  text-align: center;
  border-bottom: solid $utakata-blue;
  padding-bottom: 0.5rem;
}

h5 {
  font-weight: 600;
}

h6 {
  margin: 1em 1em 0 0;
}

.form-width {
  width: 140px;
}

.horizontal {
  -webkit-writing-mode: horizontal-tb;
  -ms-writing-mode: rl;
  writing-mode: horizontal-tb;
}

.like {
  color: $utakata-red;
  vertical-align: middle;
  -webkit-writing-mode: horizontal-tb;
  -ms-writing-mode: rl;
  writing-mode: horizontal-tb;
}

.like:hover {
  color: $utakata-red;
}

.fa-bell {
  font-size: 1.7em;
  color: white;
}

.top {
  margin-top: -1em;
}

.ml {
  margin-left: -1em;
}

.description {
  margin-left: -2em;
  margin-bottom: 0.5em;
}

.tate {
  -webkit-text-combine: horizontal;
  -ms-text-combine-horizontal: all;
  text-combine-upright: all;
}

#user_avatar {
  display: none;
}

.toast {
  min-width: 220px;
}

.toast-body {
  background-color: white;
}

.toast-wrapper {
  position: fixed;
  right: 0;
  z-index: 999999;
}
