<% @title = '&#9998;'.html_safe + ApplicationController.helpers.strip_tags(@post.tanka) %>

<%= render 'layouts/error_messages', resource: @post %>

<div data-controller="post">
  <%= form_for(@post, url: { controller: :posts, action: :update }) do |f| %>
    <div class="form-group mx-auto col-md-4 mt-4">
      <%= f.text_area :tanka, rows: 3, autofocus: true, class: 'form-control', id: 'input', 'data-target': 'post.input', 'data-action': 'keyup->post#previewPost compositionend->post#previewPost' %>
    </div>
    <div class="form-group mx-auto col-md-4">
      <%= f.submit "変更する", class: 'btn btn-primary' %>
      <button type="button" class="btn btn-primary" data-action="click->post#upright">縦中横</button>
      <button type="button" class="btn btn-primary" data-action="click->post#space">全角スペース</button>
    </div>
  <% end %>
  <div class="vertical serif mx-auto width0" data-target="post.preview"></div>
</div>

<script type="text/javascript">
$(function(){
  const t = new TagHelper()
  t.decorate($('#input'))
})
</script>
