<% @title = "#{9829.chr("UTF-8")}#{ApplicationController.helpers.strip_tags(@post.tanka)}" %>

<div class = "vertical serif tanka-index text-nowrap mt-3">
  <%= render 'posts/post', post: @post, show_avatar: true %>
  <%= paginate @users %>
  <%= render 'users/users', users: @users %>
  <%= paginate @users %>
</div>
