<% @title = '新しい歌' %>
<% @description = 'Utakataの新着短歌。' %>

<div class="vertical serif tanka-index text-nowrap mt-4">
  <div class="d-flex align-items-start fixed">
    <div class="toggle-button-group rounded me-4">
      <button class="toggle-button selected">新しい歌</button>
      <button class="toggle-button">
        <%= link_to '人気の歌', root_path, class: 'text-secondary' %>
      </button>
    </div>
    <div class="me-4">
    <%= paginate @posts %>
    </div>
  </div>
  <div class='me-6'>
    <%= render 'posts/posts', posts: @posts, show_avatar: true %>
  </div>
</div>
