<% @title = '新しい歌' %>

<div class="vertical serif tanka-index mt-3">
  <h6>
    <%= link_to '人気の歌', root_path, method: :get %>｜新しい歌<!--
    --><% unless user_signed_in? %><!--
       -->｜<%= link_to 'サイトのご案内', infos_path, method: :get %>
    <% end %>
  </h6>
  <%= render 'layouts/posts' %>
  <%= paginate @posts %>
</div>
