<div class="vertical serif tanka-index mt-3">
  <h6 class="mt5" >
    人気の歌｜<b>新しい歌</b><!--
    --><% unless user_signed_in? %><!--
       -->｜サイトのご案内
    <% end %>
  </h6>
  <%= render 'layouts/posts' %>
  <%= paginate @posts %>
</div>
