<% @title = '短歌投稿' %>

<div data-controller="post" class="col-lg-5 mx-auto">
  <%= form_for(@post, url: { controller: :posts, action: :create }) do |f| %>
    <div class="form-group mt-3">
      <ul class="sm">
        <p class="description">ルビを振りたい文字列を選択して、「ルビ」ボタンをタップし、&lt;rt&gt;〜&lt;/rt&gt;の間にルビを入力してください</p>
      </ul>
      <%= f.text_area :tanka, rows: 3, autofocus: true, class: 'form-control', 'data-post-target': 'input', 'data-action': 'keyup->post#previewPost compositionend->post#previewPost' %>
    </div>
    <div class="form-group">
      <%= f.submit "投稿する", class: 'btn btn-success' %>
      <button type="button" class="btn btn-primary" data-action="click->post#ruby">ルビ</button>
      <button type="button" class="btn btn-primary" data-action="click->post#upright">縦中横</button>
      <button type="button" class="btn btn-primary" data-action="click->post#space">全角スペース</button>
    </div>
  <% end %>
  <div class="vertical serif mx-auto text-nowrap" data-post-target="preview"></div>
</div>
