<div class="vertical serif tanka-index mt-3">
  <h6>
    人気の歌｜<%= link_to '新しい歌', posts_path, method: :get %><!--
    --><% unless user_signed_in? %><!--
       -->｜サイトのご案内
    <% end %>
  </h6>
  <%= render 'layouts/posts' %>
  <%= paginate @posts %>
</div>
