@import '~bootstrap/scss/bootstrap';

$utakata-blue: #0095d9;
$utakata-blue-hover: #00a9f2;
$utakata-blue-hover-light: #00b2ff;
$utakata-blue-hover-super-light: #e5f7ff;
$utakata-green: #3eb370;
$utakata-green-hover: #47cc7e;
$utakata-red: #e60033;

a {
  color: $utakata-blue;
  text-decoration: none;
}

a:hover {
  color: $utakata-blue-hover;
}

.bi-bell-fill {
  font-size: 1.7rem;
  color: white;
}

.bi-person-fill {
  color: $utakata-blue;
}

.bi-suit-heart {
  color: $utakata-red;
}

.bi-suit-heart-fill {
  color: $utakata-red;
}

.bi-twitter {
  color: $utakata-blue;
}

.bi-vertical::before {
  vertical-align: baseline !important;
}

.border-primary {
  border: 1px solid $utakata-blue;
}

.btn-primary {
  color: white;
  background-color: $utakata-blue;
  border-color: $utakata-blue;
}

.btn-primary:hover {
  color: white;
  background-color: $utakata-blue-hover;
  border-color: $utakata-blue-hover;
}

.btn-primary-reversed {
  color: $utakata-blue;
  background-color: white;
  border-color: white;
}

.btn-primary-reversed:hover {
  color: white;
  background-color: $utakata-blue-hover-light;
  border-color: $utakata-blue-hover-light;
}

.btn-sm {
  margin-bottom: 0;
}

.btn-success {
  color: white;
  background-color: $utakata-green;
  border-color: $utakata-green;
}

.btn-success:hover {
  color: white;
  background-color: $utakata-green-hover;
  border-color: $utakata-green-hover;
}

.description {
  margin-left: -2rem;
  margin-bottom: 0.5rem;
}

.favorites-count {
  color: $utakata-red;
  -webkit-writing-mode: horizontal-tb;
  -ms-writing-mode: rl;
  writing-mode: horizontal-tb;
  line-height: 1;
}

.favorites-count-link {
  color: $utakata-red;
}

.favorites-count-link:hover {
  color: $utakata-red;
}

.form-control {
  font-family: inherit;
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.form-width {
  width: 140px;
}

.h-6 {
  height: 6.1rem !important;
}

.h-88vh {
  height: 88vh;
}

h4 {
  font-weight: 600;
  text-align: center;
  border-bottom: solid $utakata-blue;
  padding-bottom: 0.5rem;
}

h5 {
  font-weight: 600;
}

h6 {
  margin: 1rem 1rem 0 0;
}

.horizontal {
  -webkit-writing-mode: horizontal-tb;
  -ms-writing-mode: rl;
  writing-mode: horizontal-tb;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

.lg {
  font-size: 1.2rem;
}

.mb-6 {
  margin-bottom: 10rem;
}

.ml {
  margin-left: -1rem;
}

.nav-link {
  color: $utakata-blue;
}

.nav-link:hover {
  color: $utakata-blue-hover;
}

.nav-link.active.vertical-tab {
  border-left: 2px solid;
  border-color: white white white $utakata-blue;
}

.nav-link.vertical-tab {
  border-radius: 0;
  border-left: 2px solid #dee2e6;
  padding: 1rem 0.5rem;
}

.nav-link.vertical-tab:hover {
  background-color: $utakata-blue-hover-super-light;
}

.nav-tabs.vertical-tab {
  margin-right: 0;
}

.navbar {
  background-color: $utakata-blue;
  position: relative;
  padding: 0.5rem 1rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.navbar-nav {
  flex-direction: row;
}

.navbar-nav .dropdown-menu {
  position: absolute;
}

.navbar-nav .nav-link {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.p {
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.page-item.active .page-link {
  background-color: $utakata-blue;
  border-color: $utakata-blue;
}

.page-link {
  color: $utakata-blue;
  margin: -1px 0;
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  line-height: 1.25;
  background-color: #fff;
  border: 1px solid #dee2e6;
}

.pagination .page-item:first-child .page-link {
  border-radius: 0.25rem 0.25rem 0 0;
}

.pagination .page-item:last-child .page-link {
  border-radius: 0 0 0.25rem 0.25rem;
}

.serif {
  font-family: serif;
}

.sm {
  font-size: 0.9rem;
}

.tanka-index {
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
  min-height: calc(100vh - 67px);
}

.tanka-link {
  color: black;
}

.tanka-link:hover {
  color: gray;
}

.tate {
  -webkit-text-combine: horizontal;
  -ms-text-combine-horizontal: all;
  text-combine-upright: all;
}

.toast {
  min-width: 220px;
  max-width: 350px;
  width: auto;
}

.toast-body {
  background-color: white;
}

.toast-wrapper {
  position: fixed;
  right: 0;
  z-index: 999999;
}

.top {
  margin-top: -1rem;
}

#user_avatar {
  display: none;
}

.vertical {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
}

.vertical-flex {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
