.btn-primary {
  color: #fff;
  background-color: #0095d9;
  border-color: #0095d9;
}

.btn-primary:hover {
  color: #fff;
  background-color: #00a7f3;
  border-color: #0095d9;
}

.mgt {
  margin-top: 1rem;
}
