<% @title = 'ご案内' %>

<h4 class="mt-5 mx-auto form-group col-md-5">Utakataとは？</h4>

<p class="col-md-5 mx-auto">短歌投稿サイトです。<%= link_to 'アカウント登録', new_user_registration_path %>してご利用ください。歌人をフォローしたり、ハートをタップして歌にいいねしたりすることができます。</p>

<p class="col-md-5 mx-auto"><a href="https://fuyu.hatenablog.com/entry/2018/06/24/233652">開発の背景を紹介するブログ</a>を書きました。</p>

<h4 class="mt-5 mx-auto form-group col-md-5">Help</h4>

<h5 class="mx-auto form-group col-md-5">マニュアル</h5>

<p class="col-md-5 mx-auto"><a href="https://twitter.com/i/moments/1010856871240929280">Utakataの使い方</a>を動画付きでTwitterのモーメントとしてまとめました。</p>

<h5 class="mt-4 mx-auto form-group col-md-5">ルビの振り方</h5>

<p class="col-md-5 mx-auto">短歌投稿フォームでルビ用のHTMLタグを利用できます（ルビを振りたい文字列を選択して、フォーム右下に現れる「ルビ」ボタンをタップするとルビ用のHTMLタグが挿入されます）。</p>

<p class="col-md-5 mx-auto"><b>例</b></br>入力：&lt;ruby&gt;漢字&lt;rp&gt;（&lt;/rp&gt;&lt;rt&gt;ルビ&lt;/rt&gt;&lt;rp&gt;）&lt;/rp&gt;&lt;/ruby&gt;</br>表示：<ruby>漢字<rp>（</rp><rt>ルビ</rt><rp>）</rp></ruby></p>

<p class="col-md-5 mx-auto">※ &lt;rp&gt;タグに挟まれた括弧（&lt;rp&gt;（&lt;/rp&gt;……&lt;rp&gt;）&lt;/rp&gt;）も、ルビに対応していない機能（Twitterシェア機能など）で「漢字（ルビ）」のように表示するために必要な情報なので省略しないでください。</p>

<h5 class="mt-4 mx-auto form-group col-md-5">短歌にいいねした人の一覧を見る方法</h5>

<p class="col-md-5 mx-auto">個別投稿のページ（短歌の本文をタップすると移動するページ）でハートの下の数字をタップすると、短歌にいいねした人の一覧を見ることができます。</p>

<h5 class="mt-4 mx-auto form-group col-md-5">歌人の一覧を見る方法</h5>

<p class="col-md-5 mx-auto">検索フォームで何も文字を打たずに検索すると、全件表示となり、Utakataに登録されているすべての短歌や歌人を表示することができます。</p>

<h4 class="mt-5 mx-auto form-group col-md-5">連絡先</h4>

<p class="col-md-5 mx-auto">不具合の報告や疑問点のお問い合わせ、その他感想など、お気軽にご連絡ください。</p>

<ul class="mx-auto form-group col-md-5">
  <li class="ml">Email：utakatanka@gmail.com</li>
  <li class="ml">Twitter：<a href="https://twitter.com/utakatanka">@utakatanka</a></li>
  <li class="ml">管理人のTwitter：<a href="https://twitter.com/fuyu77">@fuyu77</a></li>
</ul>

<h4 class="mt-5 mx-auto form-group col-md-5">更新履歴</h4>

<ul class="mx-auto form-group col-md-5">
  <li class="ml">2018/07/31　Twitterシェア機能でセミコロンが表示されない不具合を修正。</li>
  <li class="ml">2018/07/13　投稿した短歌を編集する機能を追加。ユーザーページに短歌の投稿数を確認できる表示を追加。プロフィールの字数制限を140字以内から300字以内に緩和。</li>
  <li class="ml">2018/06/26　ルビ以外の装飾が一部可能となっていた不具合を修正。「ご案内」に情報を追加。</li>
  <li class="ml">2018/06/23　サービスリリース。</li>
</ul>
