<% @title = 'ご案内' %>
<% @description = '短歌投稿サイトUtakataの概要・使い方・連絡先・更新履歴など。' %>

<h4 class="mt-5 mx-auto form-group col-md-5">Utakataとは？</h4>

<p class="col-md-5 mx-auto">短歌を投稿・共有できるサイトです。<%= link_to 'アカウント登録', new_user_registration_path %>してご利用ください。歌人をフォローしたり、ハートをタップして歌にいいねしたり、Twitterに短歌をシェアしたりすることができます。</p>

<p class="col-md-5 mx-auto">※ メールアドレスにスペルミスがあるとアカウント登録できないのでご注意ください。確認用メールが届かない場合は、スペルミスの可能性が高いので、もう一度正しいメールアドレスで<%= link_to '新規アカウント登録', new_user_registration_path %>を行ってください。</p>

<p class="col-md-5 mx-auto"><a href="https://fuyu.hatenablog.com/entry/2018/06/24/233652">開発の背景を紹介するブログ</a>を書きました。</p>

<h4 id="ruby" class="mt-5 mx-auto form-group col-md-5">ルビの振り方</h4>

<p class="col-md-5 mx-auto">短歌投稿フォームでルビを振りたい文字列を選択して、フォーム右下に現れる「ルビ」ボタンをタップすると、ルビ用のHTMLタグが挿入されます。カーソルが自動で&lt;rt&gt;〜&lt;/rt&gt;の間にセットされるので、そのままルビを入力してください。</p>

<p class="col-md-5 mx-auto"><b>例</b></br>入力：&lt;ruby&gt;漢字&lt;rt&gt;ルビ&lt;/rt&gt;&lt;/ruby&gt;</br>表示：<ruby>漢字<rp>（</rp><rt>ルビ</rt><rp>）</rp></ruby></p>

<p class="col-md-5 mx-auto">※ &lt;rp&gt;タグは内部的に自動で補完されるので入力不要です。</p>

<h4 class="mt-5 mx-auto form-group col-md-5">Twitterに短歌をシェアする方法</h4>

<p class="col-md-5 mx-auto">個別短歌のページ（短歌の本文をタップすると表示されるページ）で、作者名の下にあるTwitterアイコンをタップすると、Twitterに短歌をシェアすることができます。</p>

<h4 class="mt-5 mx-auto form-group col-md-5">短歌にいいねした人の一覧を見る方法</h4>

<p class="col-md-5 mx-auto">個別投稿のページで、ハートの下の数字をタップすると、短歌にいいねした人の一覧を見ることができます。</p>

<h4 class="mt-5 mx-auto form-group col-md-5">検索フォームで何も文字を打たずに検索すると…</h4>

<p class="col-md-5 mx-auto">歌人の一覧が表示されます。</p>

<h4 class="mt-5 mx-auto form-group col-md-5">左上のUtakataロゴをタップすると…</h4>

<p class="col-md-5 mx-auto">新着短歌の一覧が表示されます。</p>

<h4 class="mt-5 mx-auto form-group col-md-5">別アカウントへのデータ移行</h4>

<p class="col-md-5 mx-auto">設定画面からデータを別アカウントに移行する方法は現状ありません。データ移行をご希望の場合（メールログインのアカウントからTwitterログインのアカウントに移行したい場合など）は、下記連絡先にご連絡いただければ対応できます。</p>

<h4 class="mt-5 mx-auto form-group col-md-5">連絡先</h4>

<p class="col-md-5 mx-auto">不具合の報告や疑問点のお問い合わせ、その他感想など、お気軽にご連絡ください。</p>

<ul class="mx-auto form-group col-md-5">
  <li class="ml">Email：utakatanka@gmail.com</li>
  <li class="ml">Twitter：<a href="https://twitter.com/utakatanka">@utakatanka</a></li>
  <li class="ml">管理人のTwitter：<a href="https://twitter.com/fuyu77">@fuyu77</a></li>
</ul>

<h4 class="mt-5 mx-auto form-group col-md-5">更新履歴</h4>

<ul class="mx-auto form-group col-md-5">
  <li class="ml">2018/11/26　検索フォームで何も文字を打たずに検索した場合に、直接歌人の一覧が表示されるように変更。短歌を投稿した後に「タイムライン」ではなく「新しい歌」を表示するように変更。ドロップダウンメニューの「マイページ」と「タイムライン」の並び順を交代。投稿画面のルビの振り方の説明のレイアウトとHelpリンク先を調整。投稿画面でドロップダウンメニューが隠れてしまう問題を解消。</li>
  <li class="ml">2018/11/25　投稿画面では右上の「投稿する」ボタンを非表示とするように変更（投稿フォーム左下の「投稿する」と紛らわしいため）。</li>
  <li class="ml">2018/11/24　投稿プレビューにルビタグのHTML属性が反映されていた問題を解消。</li>
  <li class="ml">2018/11/23　投稿画面で「ルビ」ボタンを押した際に挿入されるルビタグの表示を簡略化。投稿フォームでスマホで予測変換した際にプレビューに反映されない問題を解消。</li>
  <li class="ml">2018/11/21　短歌編集画面を開いた際に初期状態でプレビューが表示されない問題を解消。</li>
  <li class="ml">2018/11/20　短歌の字数制限を緩和。</li>
  <li class="ml">2018/11/19　投稿フォームのプレビューで任意のHTMLタグ装飾が可能だった問題を解消。</li>
  <li class="ml">2018/11/18　「全角スペース」ボタンを押した際にプレビューが更新されない問題を解消。</li>
  <li class="ml">2018/11/07　短歌の字数制限を緩和。</li>
  <li class="ml">2018/11/03　ドロップダウンメニューから「あたらしい歌」と「人気の歌」を削除。新機能追加に備えた対応です。ちなみに、左上のUtakataロゴが「あたらしい歌」へのリンクになっています。</li>
  <li class="ml">2018/10/30　特殊記号を含む短歌をTwitterシェアできない問題を解消。</li>
  <li class="ml">2018/10/15　通知機能の不具合を修正。</li>
  <li class="ml">2018/10/08　Twitterログイン機能を追加。既にメールアドレスでご利用中の方で、データをTwitterアカウントの方に移行されたい方は、上記連絡先にご連絡いただければ対応します。</li>
  <li class="ml">2018/09/27　通知画面でいいねされた短歌をタップした場合に、いいねした人の一覧ページを表示するように変更。</li>
  <li class="ml">2018/09/13　Twitterシェア機能で"#"が表示されない問題を解消。</li>
  <li class="ml">2018/08/12　SNSにトップページまたはユーザーページをシェアした際にサムネイル画像が表示されるように変更。</li>
  <li class="ml">2018/07/31　Twitterシェア機能でセミコロンが表示されない問題を解消。</li>
  <li class="ml">2018/07/13　投稿した短歌を編集する機能を追加。ユーザーページに短歌の投稿数を確認できる表示を追加。プロフィールの字数制限を140字以内から300字以内に緩和。</li>
  <li class="ml">2018/06/26　ルビ以外の装飾が一部可能となっていた問題を解消。「ご案内」に情報を追加。</li>
  <li class="ml">2018/06/23　サービスリリース。</li>
</ul>
