<% @title = 'データ管理' %>

<div class="col-11 col-lg-5 mx-auto mb-5">
  <h4 class="mt-4">データ管理</h4>
  <h5 class="mt-4">投稿短歌CSVダウンロード</h5>
  <%= link_to 'ダウンロードする', exports_path(format: :csv), class: 'mt-3 btn btn-primary' %>
</div>
