<div class="toast-wrapper" aria-live="polite" aria-atomic="true">
<% resource.errors.full_messages.each do |message| %>
  <%= render('layouts/toast_item', type: 'alert', message: message) %>
<% end %>
</div>
